.App {
  text-align: center;
  background-color: #282c34;
  position: relative;
  min-height: 100vh;
  font-size: calc(6px + 2vmin);
}

.App-floating-input {
  font-size: calc(6px + 2vmin); 
  display: inline;
  width: 40px;
  text-align: center;
  padding: 5px;
  border: 1px solid #eee;
  text-decoration: none;
}

.App-video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
}

.App-floating {
  background: #cce8ffcc;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  color: #f8f8f8;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-floating-panel {
  padding: 20px;
  overflow: hidden;
}


.App-floating-title {
  font-weight: bold;
  color: #333;
}